/* Electrolux-sans Regular */
@font-face {
  font-family: "Electrolux-sans";
  font-style: normal;
  font-weight: 400;
  src: url("https://dedefelrodrigues.github.io/themes.github.io/fonts/electroluxsans_3_regular-webfont.woff2")
    format("woff2");
}

/* Electrolux-sans Italic */
@font-face {
  font-family: "Electrolux-sans";
  font-style: italic;
  font-weight: 400;
  src: url("https://dedefelrodrigues.github.io/themes.github.io/fonts/electroluxsans_oblique_3_regular-webfont.woff2")
    format("woff2");
}

/* Electrolux-sans Bold */
@font-face {
  font-family: "Electrolux-sans";
  font-style: normal;
  font-weight: 700;
  src: url("https://dedefelrodrigues.github.io/themes.github.io/fonts/electroluxsans_4_semibold-webfont.woff2")
    format("woff2");
}

/* Electrolux-sans Bold Italic */
@font-face {
  font-family: "Electrolux-sans";
  font-style: italic;
  font-weight: 700;
  src: url("https://dedefelrodrigues.github.io/themes.github.io/fonts/electroluxsans_oblique_5_bold-webfont.woff2")
    format("woff2");
}
